.DS_Store
# .env 파일 제외
**/.env

# node_modules 디렉토리 제외
node_modules/
venv/

# 운영 환경에서 생성된 파일 및 디렉토리 제외
dist/
build/

# 로그 파일 제외
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 디렉토리 데이터 파일 제외
safemall/Server/data/apidata/*.json

# IDE와 편집기 파일 제외
.vscode/
.idea/
.DS_Store

# OS 생성 파일 제외
Thumbs.db
Desktop.ini

# 기타 불필요한 파일 제외
coverage/
*.local
*.pid
*.seed
*.pid.lock
.env.local
.env.development.local
.env.test.local
.env.production.local

# 임시 파일 및 디렉토리 제외
tmp/
temp/
*.tmp
*.temp

# 테스트 출력 제외
out/
*.out
