body{
    margin: 0;
}
#container {
    margin: 0;
    width: 768px;
    height: auto;
    border: 2px solid black;
}

#top {
    border: 2px solid red;
    height: 70px;
}

#title > h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    padding: 3% 0%;
    width: 55%;
    border: 6px double black;
    border-radius: 60px;
    font-size: 500%;
}

#search{
    width: 80%;
    height: 60px;
    margin: 5% auto;
    margin-bottom: 20%;
    text-align: center;
    display: flex;
    align-items: center;
}

#search > input{
    font-size: 40px;
    width: auto;
    flex: 1;
    padding: 10px;
}
#search > button {
    font-size: 38px;
    padding: 8px;
    width: 15%;
    background-color: white;
    border: 1px solid black;
}
#search > button:hover{
    cursor: pointer;
    background-color: lightgray;
}

.site {
    margin-left: 10%;
    margin-top: 50%;
    font-size: 200%;
}

#content {
    border: 2px solid black;
    margin: 3% 10%;
    font-size: 180%;
    width: 80%;
}

#content > table {
    border-collapse: collapse;
}

#content .col {
    padding: 20px;
    width: 150px;
    text-align: center;
    background-color: lightgray;
}

#content .row {
    width: 400px;
    padding: 20px;
}


#more {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 30%;
    text-align: center;
}

#more > button {
    text-align: center;
    font-size: 200%;
    width: 200px;
}

#bottom {
    height: 75px;
    border: 2px solid red;
}