body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 768px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;    
}

#pageTitle{
    width: 100%;
    border-bottom: 1px solid gray;
}

.inner-container {
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    text-align: left;
}

.page-title {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
    font-weight: 600;
}

.note-editable{
    background-color: #F1F3F5;
    font-size: 32px;
}

.note-placeholder{
    font-size: 32px;
}

#input-title{
    padding: 50px 30px 10px 30px;
}

#input-title>input{
    height: 75px;
    border: none;
    background-color: #F1F3F5;
    width: 100%;
    font-size: 32px;
}

#button-area{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 0;
}

.button {
    height: 80px;
    width: 360px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    font-size: 40px;
}

#editor{
    padding: 10px 30px 10px 30px;
}