.246_401 { 
	overflow:hidden;
}
.e246_401 { 
	width:768px;
	height:1547px;
	position:absolute;
}
.e87_1153 { 
	background-color:rgba(255, 255, 255, 1);
	width:768px;
	height:1546px;
	position:absolute;
	left:0px;
	top:0px;
}
.87_1153 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e87_1164 { 
	width:574px;
	height:242px;
	position:absolute;
	left:102px;
	top:288px;
}
.e87_1168 { 
	background-color:rgba(255, 255, 255, 1);
	width:570px;
	height:242px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:16px;
}
.87_1168 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.87_1170 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e87_1170 { 
	width:569px;
	height:0px;
	position:absolute;
	left:5px;
	top:108px;
}
.e87_1171 { 
	color:rgba(0, 0, 0, 1);
	width:564px;
	height:39px;
	position:absolute;
	left:0px;
	top:35px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e87_1172 { 
	width:543px;
	height:112px;
	position:absolute;
	left:133px;
	top:118.0859375px;
}
.e87_1173 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:69px;
	position:absolute;
	left:472px;
	top:22px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e87_1174 { 
	background-color:rgba(255, 255, 255, 1);
	width:455px;
	height:85px;
	position:absolute;
	left:0px;
	top:14.9140625px;
}
.87_1174 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e87_1175 { 
	color:rgba(117.93750151991844, 116.46327942609787, 116.46327942609787, 1);
	width:439px;
	height:112px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e87_1176 { 
	width:768px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e87_1177 { 
	background-color:rgba(79.67641219496727, 79.67641219496727, 79.67641219496727, 1);
	width:768px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.87_1177 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e87_1178 { 
	width:90px;
	height:54px;
	position:absolute;
	left:672px;
	top:8px;
}
.e87_1179 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:90px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:27px;
	border-top-right-radius:27px;
	border-bottom-left-radius:27px;
	border-bottom-right-radius:27px;
}
.e87_1180 { 
	background-color:rgba(4.593120384961367, 4.593120384961367, 4.593120384961367, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:15px;
	top:8px;
}
.e87_1181 { 
	background-color:rgba(4.593120384961367, 4.593120384961367, 4.593120384961367, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:15px;
	top:19px;
}
.e87_1182 { 
	background-color:rgba(4.593120384961367, 4.593120384961367, 4.593120384961367, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:15px;
	top:30px;
}
.e87_1183 { 
	background-color:rgba(4.593120384961367, 4.593120384961367, 4.593120384961367, 1);
	width:60px;
	height:5px;
	position:absolute;
	left:15px;
	top:41px;
}
.e87_1184 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:58px;
	position:absolute;
	left:35px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e88_1076 { 
	color:rgba(79.67641219496727, 79.67641219496727, 79.67641219496727, 1);
	width:293px;
	height:29px;
	position:absolute;
	left:366px;
	top:540px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_426 { 
	color:rgba(255, 0, 0, 1);
	width:569px;
	height:124px;
	position:absolute;
	left:102px;
	top:396px;
	font-family:Noto Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e194_429 { 
	width:570px;
	height:821px;
	position:absolute;
	left:99px;
	top:611px;
}
.e194_397 { 
	background-color:rgba(255, 255, 255, 1);
	width:258px;
	height:736px;
	position:absolute;
	left:0px;
	top:85px;
}
.194_397 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_408 { 
	background-color:rgba(255, 255, 255, 0.6000000238418579);
	width:312px;
	height:736px;
	position:absolute;
	left:257px;
	top:85px;
}
.194_408 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_398 { 
	transform: rotate(-0.000005492276273703005deg);
	width:570px;
	height:0px;
	position:absolute;
	left:0px;
	top:159px;
}
.194_398 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_399 { 
	transform: rotate(-0.000005492276273703005deg);
	width:570px;
	height:0px;
	position:absolute;
	left:0px;
	top:315px;
}
.194_399 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_427 { 
	transform: rotate(-0.000005492276273703005deg);
	width:570px;
	height:0px;
	position:absolute;
	left:0px;
	top:236px;
}
.194_427 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_416 { 
	transform: rotate(-0.000005492276273703005deg);
	width:570px;
	height:0px;
	position:absolute;
	left:0px;
	top:386px;
}
.194_416 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_417 { 
	transform: rotate(-0.000005492276273703005deg);
	width:570px;
	height:0px;
	position:absolute;
	left:0px;
	top:739px;
}
.194_417 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_400 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:85px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_401 { 
	color:rgba(0, 0, 0, 1);
	width:296px;
	height:74px;
	position:absolute;
	left:274px;
	top:85px;
	font-family:Noto Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e194_402 { 
	color:rgba(0, 0, 0, 1);
	width:275px;
	height:74px;
	position:absolute;
	left:274px;
	top:159px;
	font-family:Noto Sans;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}
.e194_403 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:74px;
	position:absolute;
	left:276px;
	top:241px;
	font-family:Noto Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e194_410 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:74px;
	position:absolute;
	left:276px;
	top:315px;
	font-family:Noto Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e194_419 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:74px;
	position:absolute;
	left:276px;
	top:741px;
	font-family:Noto Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e194_412 { 
	color:rgba(0, 0, 0, 1);
	width:275px;
	height:353px;
	position:absolute;
	left:274px;
	top:386px;
	font-family:Noto Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e194_404 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:159px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_409 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_411 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:315px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_413 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:523px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_415 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:77px;
	position:absolute;
	left:2px;
	top:739px;
	font-family:Noto Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_420 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:173px;
	height:70px;
	position:absolute;
	left:397px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.194_420 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_421 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:61px;
	position:absolute;
	left:397px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_422 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:174px;
	height:70px;
	position:absolute;
	left:200px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.194_422 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_423 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:61px;
	position:absolute;
	left:200px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e194_424 { 
	background-color:rgba(255, 255, 255, 1);
	width:175px;
	height:70px;
	position:absolute;
	left:2px;
	top:0px;
	border-radius:60px;
}
.194_424 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e194_425 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:34px;
	position:absolute;
	left:2px;
	top:19px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e87_1186 { 
	width:768px;
	height:75px;
	position:absolute;
	left:0px;
	top:1472px;
}
.e87_1187 { 
	background-color:rgba(255, 255, 255, 1);
	width:768px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.87_1187 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e87_1188 { 
	background-color:rgba(255, 255, 255, 1);
	width:256px;
	height:75px;
	position:absolute;
	left:256px;
	top:0px;
}
.87_1188 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e87_1189 { 
	width:71px;
	height:71px;
	position:absolute;
	left:609px;
	top:2px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e87_1190 { 
	width:75px;
	height:75px;
	position:absolute;
	left:76px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e87_1191 { 
	width:73px;
	height:73px;
	position:absolute;
	left:347px;
	top:1px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
