.container {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border: 3px solid black;
    padding-bottom: 350px;
}

.nickname {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.recent {
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 0;
    border: 1px solid #ddd;
}

.title span {
    flex: 1;
    text-align: center;
}

.mypageitem {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.mypageRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.mypageRow a {
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.mypageRow a p {
    flex: 1;
    text-align: center;
    margin: 0;
}

.button {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.button > button {
    margin: 30px;
    padding: 20px;
}
