.container {
    width: 768px;
    height: auto;
    padding-left: 5vw; /* 50px */
    padding-right: 5vw; /* 50px */
    padding-top: 2vh; /* 20px */
    border: 0.1875em solid black; /* 3px */
    padding-bottom: 35vh; /* 350px */
}

.nickname {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2vh; /* 20px */
}

.recent {
    font-size: 2rem;
    border-bottom: 0.0625em solid #ccc; /* 1px */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh; /* 10px */
    padding: 1vh 0; /* 10px 0 */
    border: 0.0625em solid #ddd; /* 1px */
}

.title span {
    flex: 1;
    text-align: center;
}

.mypageitem {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.mypageRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh; /* 10px */
    padding: 1vh; /* 10px */
    border: 0.0625em solid #ddd; /* 1px */
}

.mypageRow a {
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.mypageRow a p {
    flex: 1;
    text-align: center;
    margin: 0;
}

.button {
    font-size: 2rem;
    margin-top: 3vh; /* 30px */
    margin-bottom: 8vh; /* 80px */
    text-align: center;
}

.button > button {
    margin: 3vh; /* 30px */
    padding: 2vh; /* 20px */
}
