body {
  margin: 0;
  /* font-family: 'IBMPlexSansKR-Regular'; */
}

#container {
  margin: 0;
  width: 48em; /* 768px */
  height: auto;
  border: 0.125em solid black; /* 2px */
  /* background-color: rgba(232, 233, 235, 1); */
}

.intro1 {
  color: #b9b9b9;
}
