body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 768px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

#pageTitle{
    width: 100%;
    border-bottom: 1px solid gray;
}

.inner-container {
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    text-align: left;
}

.title {
    text-align: center;
    font-size: 48px;
    margin: 15px 0;
}

.main-title {
    color: #000;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.date-info {
    color: #666;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.date-info span{
    font-size: 18px;
    font-weight: bold;
}

#date{
    padding-right: 10px;
    border-right: 1px solid #666;
}

#writer{
    padding-left: 10px;
}

#viewCount{
    float: right;
}

.content {
    border-bottom: 1px solid #ddd;
    padding: 20px 40px;
    margin: 20px 0;
    text-align: left;
    font-size: 48px;
}

#button-area{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    margin-top: 50px;
}

.button {
    height: 80px;
    width: 360px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    font-size: 40px;
}