/* .Container{
    height: 70px !important;
} */
#navArea{
    margin: 0 !important;
}

.offcanvastitle{
    margin-left: 20px !important; 
    font-size: 48px !important;
    color: white !important;
}

#navitem{
    font-size: 36px !important;
}

.navbarBrand{
    font-size: 36px !important;
}

#navitemB{
    margin-left: 5px;
}