
.container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.form{
    width: 100%;
    padding: 0 10%;
}
.inputdiv{
    flex-direction: column;
    display: flex;
}
.label{
    align-items: center;
    align-self: flex-start;
    margin-bottom: 0.5em;
}
.input{
    align-self:center;
    width: 100%;
    height: 2em;
    margin-bottom: 1.5em;
    border-radius: 20px;
    padding-left: 5%;
}
.input::placeholder{
    font-size: 1em;
}
.submitbtn{
    width: 60%;
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 5em;
    font-size: 1.2em;
    background-color: #1A2042;
    color: white;
    border-radius: 15px;
}
.submitbtnArea{
    display: flex;
    justify-content: center;
}