/* customStyles.module.css */
.navbarCustom {
  background-color: #1A2042 !important;
  color: white !important;
}

.offcanvasHeaderCustom {
  background-color: #1A2042 !important;
  color: white !important;
  padding-left: 5% !important;
}

.offcanvasHeaderCustom button{
  background-color: white !important;
}

.Toggle span{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.inbody{
  width: 80% !important;
}

.offcanvasBodyCustom {
  background-color: #E8E9EB;
  color: #1A2042 !important;
}

.navLinkCustomTitle {
  color: white !important;
  font-size: 2em !important;
}
.navLinkCustom {
  color: #1A2042 !important;
  font-size: 1.8em !important;
}
.btndiv{
  margin-top: 3em;
}

.buttonCustom {
  background-color: white !important;
  color: #1A2042 !important;
  width: 5em;
  font-size: 1.5em;
  border: 1px solid #1A2042 !important;
  border-radius: 20px;
}
