body, html{
    padding: 0;
    margin: 0;
    width: 768px;
    height: 1300px;
}
#container{
    width: 100%;
    text-align: center;
}
h2{
    margin-top: 150px !important;
    font-size: 64px !important;
    margin-bottom:50px !important;
}

#nicknameForm label, #nicknameForm input, #nicknameForm button {
    display: block; /* Make each form element take a full line */
    margin: 10px auto; /* Center the elements horizontally and add margin */
}

#nicknameLabel{
    font-size: 30px;
}

#nickname{
    box-sizing: border-box;
    width: 500px;
    height: 76px;
    font-size: 32px;
    color: grey;
    background: #F1F3F5;
    border: 2px solid #63B1F9;
    border-radius: 30px;

}

#nicknameForm button{
    width: 320px;
    height: 80px;
    margin-top: 100px;
    background-color: #1A2042;
    color: white;
    border-radius: 15px;
    margin-bottom: 10;
    font-size: 32px;
}

.returnpagebtn{
    width: 320px;
    height: 80px;
    font-size: 32px;
    margin-top: 100px;
    background-color: rgba(250, 250, 250, 1);
    color: black;
    margin-bottom: 500px;
    border-radius: 15px;

}



