#switch {
    margin-bottom: 7.5vh; /* 75px */
}

.Appheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.625em + 2vmin); /* 10px + 2vmin */
}
