#container {
  margin: 0;
  width: 100%;
  height: 100%;
}

#title {
  text-align: center;
  margin: 0 auto;
  margin-top: 25vh;
}

#title > h1 > img {
  width: 50%;
  height: 12.5vh; /* 200px */
}

#title > h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 10vh;
  white-space: nowrap;
  font-size: 3rem;
  color: rgba(32, 39, 79, 1);
  text-shadow: 0 0 0.1875em gray; /* 3px */
}

#search {
  width: 80%;
  height: 6vh; /* 60px */
  margin: 6vh auto;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0.3125em 0.3125em 0.9375em lightgray; /* 5px 5px 15px */
  border-radius: 1.875em; /* 30px */
  border: 0.0625em solid lightgray; /* 1px */
}

#search > input {
  font-size: 1.5rem;
  width: 30%;
  height: auto;
  flex: 1;
  padding: 1%;
  padding-left: 3%;
  border-radius: 1.875em; /* 30px */
  border: none;
}

#search > button {
  height: auto;
  font-size: 1.5rem;
  padding: 1%;
  padding-right: 5%;
  background-color: white;
  width: 10%;
  border: none;
  border-radius: 1.875em; /* 30px */
}

#search > button:hover {
  cursor: pointer;
  background-color: lightgray;
}

#site {
  display: flex;
  align-self: center;
  padding: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#site > .list {
  font-size: 1.5rem;
}

#site > .count {
  font-size: 1rem;
  align-self: center;
}

.listcard {
  margin: 2vh 5%;
  padding: 1.5vh 4%;
  padding-top: 1.5vh;
  border-radius: 1.875em; /* 30px */
  background-color: rgba(81, 80, 118, 0.1);
  box-shadow: 0.3125em 0.3125em 0.625em gray; /* 5px 5px 10px */
  border: 0.0625em solid lightgray; /* 1px */
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.listTitle {
  font-size: 1.5rem;
}

.arrow {
  position: absolute;
  right: 5%;
}

.detailcards {
  border-top: 0.0625em solid grey; /* 1px */
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
}

.detailcard {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.cardlabel {
  font-size: 1.5rem;
  font-weight: bolder;
}

.cardValue {
  font-size: 1.3rem;
  overflow-wrap: anywhere;
  /* text-align: justify; */
}

.directBtn {
  width: 100%;
  text-align: center;
  padding: 1% 2%;
  margin: 0 auto;
  background-color: rgba(32, 39, 79, 1);
  color: lightgray;
  border-radius: 0.625em; /* 10px */
  margin-bottom: 2vh;
  font-size: 1rem;
}

.directBtn:hover {
  background-color: lightgray;
  color: rgba(32, 39, 79, 1);
}

.listcard:hover {
  background-color: lightgray;
}

#more {
  margin: 5vh auto;
  margin-bottom: 30vh;
  text-align: center;
}

#more > button {
  text-align: center;
  font-size: 2rem; /* 2em */
  width: 5em;
  padding: 1% 2%;
  color: white;
  background-color: rgba(32, 39, 79, 1);
  box-shadow: 0.3125em 0.3125em 0.9375em gray; /* 5px 5px 15px */
  border-radius: 1.875em; /* 30px */
  text-wrap: nowrap;
}

#more button:hover {
  background-color: rgba(81, 80, 118, 1);
  color: white;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12.5vh; /* 200px */
  font-size: 3.125rem; /* 50px */
}
