.noticecontainer {
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 0px;
    padding: 0;
  }
  
  .innercontainer {
    background-color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .noticeheader {
    margin-top: 80px;
    padding: 40px 0 30px 0;
    text-align: center;
    font-size: 48px;
    border-bottom: 1px solid gray;
  }
  
  .title {
    text-align: center;
    font-size: 48px;
    margin: 15px 0;
    font-weight: 600;
  }
  
  .maintitle {
    color: #000;
    font-size: 55px;
    font-weight: 500;
    padding: 10px 20px;
  }
  
  .dateinfo {
    color: #666;
    margin: 0 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }
  
  .dateinfo span{
    font-size: 20px;
    font-weight: bold;
  }
  
  #date{
    padding-right: 10px;
    border-right: 1px solid #666;
  }
  
  #writer{
    padding-left: 10px;
  }
  
  #viewCount{
    float: right;
  }
  
  .bodycontent{
    padding: 20px 0;
    margin: 0px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .contenttitle {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 40px;
    padding-left: 5px;
  }
  
  .contentcontent{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #F1F3F5;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 32px;
    color: #6A6A6A;
  }
  
  #answer{
    line-height: 200%;
  }
  
  .buttonarea{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 0;
    align-items: center;
    margin-bottom: 75px;
  }
  
  .buttonarea>svg{
    margin-left: 15px;
  }
  
  .button {
    height: 80px;
    width: 360px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    font-size: 40px;
  }
  
  #answerbtn{
    border-bottom: 1px solid #ddd;
    margin: 0;
  }
  
  #answerbtnmanager{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #answerbtnmanager button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }
  
  #edit{
    margin-right: 20px;
    background-color: #0D6EFD;
  }
  
  #del{
    background-color: red;
  }
  
  #answerbtn>button{
    background-color: #0D6EFD;
    color: white;
    border: none;
  }
  
  #answercontainer{
    padding: 30px 10px 0px 10px;
    margin: 0px 20px;
  }
  
  #titlesection{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #answertitle{
    display: block;
    margin-bottom: 5px;
    color: red;
    font-size: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  
  #answerdate{
    font-size: 20px;
    margin-right: 10px;
  }
  
  #writeanswer{
    padding: 20px 0;
    margin: 0px 20px;
  }
  
  #writeanswer>textarea{
    margin-top: 20px;
    resize: none;
    width: 100%;
    font-size: 32px;
    height: 282px;
    background-color: #F1F3F5;
    border: none;
  }
  
  ::-webkit-textarea-placeholder{
    font-size: 32px;
    vertical-align: middle;
    line-height: 100%;
  }
  
  .btn{
    margin: 20px auto 0 10px;
    background-color:rgba(81, 80, 118, 1);
    color: white;
    font-size: 36px;
  }
  .bottomnav {
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A2042;
  }
  .bottomnav button {
    background: none;
    border: none;
    color: white;
  }
  .navitem{
    font-size: 36px;
  }
  
  .btnclose{
    background-color: white !important;
  }