.container {
    margin: 6% auto;
    width: 768px;
    height: auto;
    padding-bottom: 100px;
}

.search{
    width: 80%;
    height: 60px;
    margin: 0 auto 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1%;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 5% 2%;
}

#snsArea{
    display: flex;
    justify-content: space-around;
}

#linkBtn{
    display: flex;
    align-items: center;
    font-size: 1.25em;
    padding: 2.5% 2%;
    color: white;
}

#linkBtn > svg{
    margin-right: 10px;
}

.search > input{
    font-size: 1.875em;
    width: 30%;
    height: auto;
    flex: 1;
    padding: 2%;
    border: none;
    border-radius: 30px;
}
.search > button {
    height: auto;
    font-size: 40px;
    padding: 1%;
    background-color: rgba(81, 80, 118, 1);
    /* width: 10%; */
    /* border: 1px solid black; */
    border: none;
    border-radius: 30px;
}

.search > button:hover{
    cursor: pointer;
    background-color: lightgray;
}

.score{
    text-align: center;
    border-radius: 50px;
    width: 80%;
    height: 35%;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 3.125em;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 15px lightgray;
    padding: 3% 0;
}

.score .number {
    color: rgba(170, 70, 86, 1);
    font-size: 2em;
    font-weight: bold;
}

.score > hr{
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 50%;
}

.date {
    color: gray;
    margin: 3% auto;
    text-align: right;
    width: 75%;
    font-size: 1.5625em;
}

.info {
    width: 80%;
    border: 1px solid lightgray;
    margin: 5% auto;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 30px;
}

.tab {
    border: none;
    text-align: center;
    display: flex;
    white-space: nowrap;
    width: 100%;
    /* border-bottom: 3px solid black; */
    /* border-radius: 30px; */
}

.pointer {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 3px solid rgba(32, 39, 79, 1);
}

.pointer2 {
    color: red;
}

#pointer > div {
    flex: 1;
    font-size: 25px;
    font-weight: bolder;
    /* border: 1px solid blue; */
}



.menu1, .menu2, .menu3 {
    flex: 1;
    /* border: 1px solid black; */
    background-color: rgba(32, 39, 79, 1);
    color: white;
    padding: 3% 0%;
    font-size: 1.875em;
    border: none;
}

.menu1 {
    border-top-left-radius: 30px;
}

.menu3 {
    border-top-right-radius: 30px;
}

.menu1:hover, .menu2:hover, .menu3:hover{
        background-color: rgba(81, 80, 118, 0.3) !important;  
        cursor: pointer;
        color: white !important;
}



.content1, .content2, .content3 {
    font-size: 1.875em;
    width: 100%;
    border: 3px solid black;
    border: none;
}

.content1{
    display: block;
    overflow-wrap: anywhere;
}


.content1 > table, .content2 > table, .content3 > table {
    border-collapse: collapse;
    width: 100%;
}

.content1 .col, .content2 .col, .content3 .col {
    padding: 3.2%;
    width: 35%;
    text-align: center;
    background-color: rgba(81, 80, 118, 1);
    color: white;
    white-space: nowrap;
}

.content2 .col {
    width: 50%;
}

.content3 .col{
    width: 40%;
}

.content1 .row, .content2 .row, .content3 .row{
    width: 100%;
    padding: 3% 5%;
    line-height: 1.4;
    /* border: 1px solid black; */
    margin-left: 0.2%;
    margin-top: 3%;
}

.container > .info > .content2 > tr > td > .row {
    text-align: center;
    border: 1px solid black;
}

.content2 {
    align-items: center;
}

.content2 .row {
    /* border: 1px solid black; */
    text-align: center;
}

.lb {
    border-bottom-left-radius: 30px;
}

.rb {
    border-bottom-right-radius: 30px;
}

.loadingArea{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    align-items: center;
}