#top{
    border: 2px solid red;
    height: 70px;
}

#bottom{
    border: 2px solid red;
    height: 75px;
}

body{
    margin: 0;
    width: 768px;
}
#container {
    margin: 0;
    height: auto;
    /* border: 2px solid black; */
}
#profile {
    text-align: right;
    /* border: 2px solid black; */
    background-color: lightgray;
    padding: 5%;
}

#hello {
    /* border: 2px solid red; */
    font-size: 300%;
    margin-bottom: 2%;
    line-height: 1.5;
}


#button > button {
    margin-left: 2%;
    padding: 2% 3%;
    font-size: 150%;
    border-radius: 50px;
    background-color: transparent;
}

#menu {
    text-align: right;
    padding: 5%;
    font-size: 250%;
}

#menu > a{
    cursor: pointer;
}

#menu > span > a:hover {
    color: red;
}

#menu > span > a:visited {
    color: black;
}