
/* 웹 폰트 적용*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'IBMPlexSansKR-Regular';
}

/* 전체 틀 테두리*/
#cotainer {
    border: 3px double black;
    margin: 30px;
    padding: 20px;
    height: auto;
}

/* 제목 서식*/
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}


/* 검색창 서식*/
header > input {
    font-size: 20px;
    width: 200px;
    height: 40px;
    padding: 5px; 
    float: left;
    margin-left: 600px;
    margin-right: 5px;
    margin-bottom: 20px;
}

/* 검색창에 마우스 올렸을 때 효과 주기*/
header > input:hover {
    color: blue;
    opacity: 0.5;
}

/* 돋보기 이미지에 마우스 올렸을 때 효과 주기*/
header > img {
    border: 1px solid black;
    width: 50px;
    float: left;
}
header > img:hover {
    background-color: gray;
    opacity: 0.3;
  }

header > select {
    margin-left: 40px;
    float: right;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
}

/* 표 서식*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* 첫번째 행(변수) 셀 색깔*/
th {
    background-color: wheat ;
}

/* 본문 행에 마우스 올렸을 때 색 효과*/
tr:hover {
    background-color: lightgoldenrodyellow;
}

#btn {
    margin-top: 20px;
    text-align: center;
}

#btn > button {
    margin: 0 2px;
    font-size: 20px ;
    color: black;
    background-color: transparent;
    border: 0;
}

#btn > button:hover {
    background-color: lightgray;
}